<a href="https://colab.research.google.com/github/Muditsinghbora/AIML/blob/main/Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
ss=files.upload()

Saving supermarket_sales.csv to supermarket_sales.csv

In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv('supermarket_sales.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [5]:
import pandas as pd
import numpy as np

rd=pd.read_csv('supermarket_sales.csv')
rd.head()
print(rd)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating
0         26.1415     9.1
1          3.8200     9.6
2         16.2155     7.4
3         23.2880     8.4
4         30.2085     5.3
..            ...     ...
995        2.0175     6.2
996       48.6900     4.4
997        1.5920     7.7
998        3.2910     4.1
999       30.9190     6.6

[1000 rows x 17 columns]

In [6]:
df.City.value_counts(ascending=True, normalize=True)

City
Naypyitaw    0.328
Mandalay     0.332
Yangon       0.340
Name: proportion, dtype: float64

In [8]:
df.max()

Invoice ID                       898-04-2717
Branch                                     C
City                                  Yangon
Customer type                         Normal
Gender                                  Male
Product line               Sports and travel
Unit price                             99.96
Quantity                                  10
Tax 5%                                 49.65
Total                                1042.65
Date                                3/9/2019
Time                                   20:59
Payment                              Ewallet
cogs                                   993.0
gross margin percentage             4.761905
gross income                           49.65
Rating                                  10.0
dtype: object

In [9]:
df.nunique()

Invoice ID                 1000
Branch                        3
City                          3
Customer type                 2
Gender                        2
Product line                  6
Unit price                  943
Quantity                     10
Tax 5%                      990
Total                       990
Date                         89
Time                        506
Payment                       3
cogs                        990
gross margin percentage       1
gross income                990
Rating                       61
dtype: int64

In [10]:
df.City.nunique()

3

In [11]:
df['Quantity'].sum()

5510

In [12]:
df.sum(numeric_only=True)

Unit price                  55672.130000
Quantity                     5510.000000
Tax 5%                      15379.369000
Total                      322966.749000
cogs                       307587.380000
gross margin percentage      4761.904762
gross income                15379.369000
Rating                       6972.700000
dtype: float64

In [13]:
df.sum(numeric_only=False)

Invoice ID                 750-67-8428226-31-3081631-41-3108123-19-117637...
Branch                     ACAAACACABBBAAABAAABCBBAAABABABBBACCAACBBCBCCB...
City                       YangonNaypyitawYangonYangonYangonNaypyitawYang...
Customer type              MemberNormalNormalMemberNormalNormalMemberNorm...
Gender                     FemaleFemaleMaleMaleMaleMaleFemaleFemaleFemale...
Product line               Health and beautyElectronic accessoriesHome an...
Unit price                                                          55672.13
Quantity                                                                5510
Tax 5%                                                             15379.369
Total                                                             322966.749
Date                       1/5/20193/8/20193/3/20191/27/20192/8/20193/25/...
Time                       13:0810:2913:2320:3310:3718:3014:3611:3817:151...
Payment                    EwalletCashCredit cardEwalletEwalletEwalletEwa...
cogs                                                               307587.38
gross margin percentage                                          4761.904762
gross income                                                       15379.369
Rating                                                                6972.7
dtype: object

In [14]:
df.count()

Invoice ID                 1000
Branch                     1000
City                       1000
Customer type              1000
Gender                     1000
Product line               1000
Unit price                 1000
Quantity                   1000
Tax 5%                     1000
Total                      1000
Date                       1000
Time                       1000
Payment                    1000
cogs                       1000
gross margin percentage    1000
gross income               1000
Rating                     1000
dtype: int64

In [15]:
df.City.count()

1000

In [16]:
df.min()

Invoice ID                            101-17-6199
Branch                                          A
City                                     Mandalay
Customer type                              Member
Gender                                     Female
Product line               Electronic accessories
Unit price                                  10.08
Quantity                                        1
Tax 5%                                     0.5085
Total                                     10.6785
Date                                     1/1/2019
Time                                        10:00
Payment                                      Cash
cogs                                        10.17
gross margin percentage                  4.761905
gross income                               0.5085
Rating                                        4.0
dtype: object

In [17]:
df.max()

Invoice ID                       898-04-2717
Branch                                     C
City                                  Yangon
Customer type                         Normal
Gender                                  Male
Product line               Sports and travel
Unit price                             99.96
Quantity                                  10
Tax 5%                                 49.65
Total                                1042.65
Date                                3/9/2019
Time                                   20:59
Payment                              Ewallet
cogs                                   993.0
gross margin percentage             4.761905
gross income                           49.65
Rating                                  10.0
dtype: object

In [18]:
df.Rating.mean()

6.9727

In [19]:
df[['Total','cogs','Tax 5%']].agg(['count','min','max','mean','median','sum'])

                Total          cogs        Tax 5%
count     1000.000000    1000.00000   1000.000000
min         10.678500      10.17000      0.508500
max       1042.650000     993.00000     49.650000
mean       322.966749     307.58738     15.379369
median     253.848000     241.76000     12.088000
sum     322966.749000  307587.38000  15379.369000

In [20]:
df = pd.read_csv("supermarket_sales.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [21]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [22]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [23]:
df.Total.describe()

count    1000.000000
mean      322.966749
std       245.885335
min        10.678500
25%       124.422375
50%       253.848000
75%       471.350250
max      1042.650000
Name: Total, dtype: float64

In [24]:
df.describe(include = "all")

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
count,1000,1000,1000,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000,1000.00000,1000.000000,1000.000000,1000.00000
unique,1000,3,3,2,2,6,NaN,NaN,NaN,NaN,89,506,3,NaN,NaN,NaN,NaN
top,750-67-8428,A,Yangon,Member,Female,Fashion accessories,NaN,NaN,NaN,NaN,2/7/2019,19:48,Ewallet,NaN,NaN,NaN,NaN
freq,1,340,340,501,501,178,NaN,NaN,NaN,NaN,20,7,345,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,55.672130,5.510000,15.379369,322.966749,NaN,NaN,NaN,307.58738,4.761905,15.379369,6.97270
std,NaN,NaN,NaN,NaN,NaN,NaN,26.494628,2.923431,11.708825,245.885335,NaN,NaN,NaN,234.17651,0.000000,11.708825,1.71858
min,NaN,NaN,NaN,NaN,NaN,NaN,10.080000,1.000000,0.508500,10.678500,NaN,NaN,NaN,10.17000,4.761905,0.508500,4.00000
25%,NaN,NaN,NaN,NaN,NaN,NaN,32.875000,3.000000,5.924875,124.422375,NaN,NaN,NaN,118.49750,4.761905,5.924875,5.50000
50%,NaN,NaN,NaN,NaN,NaN,NaN,55.230000,5.000000,12.088000,253.848000,NaN,NaN,NaN,241.76000,4.761905,12.088000,7.00000
75%,NaN,NaN,NaN,NaN,NaN,NaN,77.935000,8.000000,22.445250,471.350250,NaN,NaN,NaN,448.90500,4.761905,22.445250,8.50000
max,NaN,NaN,NaN,NaN,NaN,NaN,99.960000,10.000000,49.650000,1042.650000,NaN,NaN,NaN,993.00000,4.761905,49.650000,10.00000

In [25]:
df.describe(exclude = ['object','int'])

,Unit price,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

In [26]:
df['Total'].describe(percentiles=[.20, .40, .60, .80])

count    1000.000000
mean      322.966749
std       245.885335
min        10.678500
20%        97.738200
40%       195.098400
50%       253.848000
60%       325.726800
80%       533.257200
max      1042.650000
Name: Total, dtype: float64

In [27]:
df.City.value_counts(ascending=True, normalize=True)

City
Naypyitaw    0.328
Mandalay     0.332
Yangon       0.340
Name: proportion, dtype: float64